numpy
scipy
patsy
matplotlib
Jinja2
Mako
MarkupSafe
PyYAML
Pygments
SQLAlchemy
Sphinx
Unidecode
alembic
argparse
arrow
backports.ssl-match-hostname
beautifulsoup4
dataset
docutils
ipython[all]
ipython-sql
ipdb
ipycache
lxml
nose
openpyxl
pandas
psycopg2
pyparsing
python-dateutil
python-slugify
pytz
pyzmq
requests
six
tornado
wsgiref
wheel
xlrd
xlwt

# You effectively have to install statsmodel at the very end, because it'll
# keep failing to install because of unmet dependencies
#statsmodels
